Bink/*
ChromaSDKPlugin/*
DialoguePlugin/*
ImpostorBaker-master/*
LowEntryJson/*
MWShaders/*
OceanPlugin/*
OnlineSubsystemEpic/*
PiratetechV3_Core/*
PiratetechV3_Equipmen/*
PiratetechV3_Mechs/*
PiratetechV3_Vehicles/*
PiratetechV3_Weapons/*
UE4Duino/*
VictoryPlugin/*
YetAnotherMechlab/*
YetAnotherWeaponClan/*
YetAnotherWeapon/*
Piratetech_Vanilla/Saved/*
Piratetech_YAML/Saved/*
Piratetech_Rebalance/Saved/*
Piratetech_Resources/Saved/*
Igor/*